:root {
  /* Farver */
  --brand-color: #1ed760;
  --brand-color-highlight: #1fdf64;

  --surface-default: #121212;
  --surface-light: #181818;
  --surface-light-hover: #282828;
  --surface-black: #000;
  --surface-white: #fff;

  --text-muted: #b3b3b3;
  --text-white: #fff;
  --text-black: #000;

  --muted-border: #727272;

  --brand-gradient: linear-gradient(90deg, #af2896, #509bf5);

  /* Typografi */
  --font-size-h2: 1.5rem;
  --font-size-base: 1rem;
  --font-size-small: 0.875rem;
  --font-size-tiny: 0.75rem;
  --font-size-legal: 0.6875rem;

  /* Spacing */
  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-xxxl: 3rem;

  /* Border radius */
  --border-radius-round: 1000px;
  --border-radius-lg: 0.5rem;
  --border-radius-medium: 0.375rem;
  --border-radius-small: 0.25rem;

  /* Box shadow */
  --shadow-default: 0 8px 24px hsl(0 0% 0% / 50%);
  --shadow-medium: 0 8px 8px rgb(0 0 0 / 30%);
  --shadow-small: 0 2px 4px 0 hsl(0 0% 0% / 20%);
}

/* ------ 
  Resets / normalize
------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: var(--surface-default);
}

body {
  height: 100%;
  line-height: 1.6;
  color: var(--text-muted);
  font-family: system-ui;
  overscroll-behavior-block: none;
}

h1,
h2,
h3 {
  color: #fff;
}

h1,
h2 {
  line-height: 1.125;
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-base);
  font-weight: 500;
}

p {
  font-size: var(--font-size-small);
}

a:where(:any-link) {
  color: var(--text-muted);
  text-decoration: none;
}

a:where(:is(h1, h2, h3) > *) {
  color: var(--text-white);
}

ul[class] {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  font: inherit;
  background: transparent;
  border: none;
  color: var(--text-muted);
  font-weight: 700;
  display: inline-block;
  border-radius: var(--border-radius-round);
  transition: scale 33ms ease-in-out;
}
